<!doctype html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-2.0.0.js" crossorigin="anonymous"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
        <script src="/static/app.js"></script>
    </head>
    <body>
        <div id="player" style="width: 480px; height: 300px"></div>

        <div class="btn btn-default" id="button-up"><i class="fa fa-arrow-up"></i></div>
        <div class="btn btn-default" id="button-down"><i class="fa fa-arrow-down"></i></div>
        <div class="btn btn-default" id="button-left"><i class="fa fa-arrow-left"></i></div>
        <div class="btn btn-default" id="button-right"><i class="fa fa-arrow-right"></i></div>
    </body>
</html>
